{% extends 'base.html.twig' %}

{% block title %}Doctor / TestCentrum Frontend{% endblock %}

{% block body %}
    <h1>Here you go</h1>
    <a href="{{ path('login') }}">Login</a>
    <a href="{{ path('status_create') }}">Create</a>
{% endblock %}
